body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif
}

.breadcrumb {
    color: #565959;
}

.title {
    font-weight: lighter;
}

.main-img {
    width: 300px;
    box-shadow: 0px 2px 5px lightgray;
}

.ratings-img {
    width: 150px;
}

.container {
    display: flex;
}

.metadata {
    margin-left: 30px;
}

a {
    color: #007185;
}