body {
    padding: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #007185;
}

.breadcrumb {
    font-size: 12px;
    color: #565959;
}

.title {
    font-weight: lighter;
    margin-bottom: 0;
}

.author {
    margin: 10px 0;
}

.main-img {
    width: 300px;
    box-shadow: 0px 2px 5px lightgray;
}

.ratings-img {
    width: 100px;
}

.container {
    display: flex;
}

.metadata {
    margin-left: 25px;
}

.subheading {
    font-weight: bold;
}